@media screen and (max-width: 600px) {
    nav#newhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #fff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#newhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
    }
    
    a#header {
        display: inline-block;
        height: 64px;
        width: 420px;
    }
    
    img#logoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }
}



@media screen and (min-width: 600px) {
    nav#newhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #fff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#newhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
    }
    
    a#header {
        display: inline-block;
        margin-left: 10vw;
        height: 64px;
        width: 420px;
    }
    
    img#logoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }
}
