@media screen and (max-width: 600px) {
    nav#navnewhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #ffffff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#divnewhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        padding: 16px 20px 17px 20px;
        color: #ffffff;
        text-decoration: none;
        background-color: #67aaac;
    }
    
    a#alogoejournalunis {
        display: inline-block;
        height: 64px;
        width: 80%;
        text-align: center;
    }
    
    img#imglogoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }
    
    div#divmenupanel {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 67%;
    }

}



@media screen and (min-width: 600px) {
    nav#navnewhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #ffffff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#divnewhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        padding: 16px 20px 17px 20px;
        color: #ffffff;
        text-decoration: none;
        background-color: #67aaac;
    }
    
    a#alogoejournalunis {
        display: inline-block;
        margin-left: 0px;
        height: 64px;
        width: 85%;
        text-align: center;
    }
    
    img#imglogoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }

    div#divmenupanel {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 33%;
    }    
}

ul#ulnewnav {
    /*
    display: inline-block;
    */
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", Impact, Helvetica, Arial, sans-serif;
    /*
    background-color: #67aaac;
    */
    color: black;
}

li.linewnav, a.anewnav {
    color: black;
}

li#libreadcrumb {
    font-size: 0.8rem;
    color: black;
}

header#header, div#nav {
    display: block;
}

div#nbsp {
    height: 64px;
}
