@media screen and (max-width: 600px) {
    nav#newhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #fff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#newhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
    }
    
    a#alogoejournalunis {
        display: inline-block;
        height: 64px;
        width: 80%;
        text-align: center;
    }
    
    img#imglogoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }
}



@media screen and (min-width: 600px) {
    nav#newhead {
        position: fixed;
        top: 0;
        z-index: 99999;
        width: 100vw;
        display: block;
        color: #fff;
        background-color: #21a7ac;
        height: 64px;
    }
    
    div#newhead {
        position: relative;
        height: 100%;
        display: block;
    }
    
    a#menubutton {
        float: left;
        position: relative;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        color: #fff;
        text-decoration: none;
    }
    
    a#alogoejournalunis {
        display: inline-block;
        margin-left: 0px;
        height: 64px;
        width: 85%;
        text-align: center;
    }
    
    img#imglogoejournalunis {
        width: auto;
        height: 80%;
        margin-top: 6px;
    }
}


header#header, div#nav {
    display: block;
}
